.suggest {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.you {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 32px;
}

.cards h5 {
    color:  #1A1A1A;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.cards p {
    color: #545454;
    font-family: 'Nunito';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.cards h1 {
    color: #1A1A1A;
    font-family: 'Nunito';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 8px;
}

.you h4 {
    color: #1A1A1A;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cards1 {
    display: none;
}

.colors {
    display: flex;
    gap: 8px;
}

.card_img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative; 
}

.image1 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    margin-bottom: 16px;
    position: relative; 
}

.card1 {
    width: 424px;
    height: 347px;
    position: relative;
    display: inline-block;
}

.card1 .img_top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.card1:hover .img_top {
    display: inline;
}

.loveact {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100;
}

.carthet {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.love {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.over {
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.over1 {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
}

.dress_card2 img {
    cursor: pointer;
    transition: border 0.3s ease-in-out;
    gap: 8px;
}






@media (max-width: 576px) {
    .suggest {
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        margin: 0px;
        width: 100%;
        align-items: flex-start;
        justify-content: left;
        padding: 80px 20px;
    }

    .you {
        display: flex;
        width: 100%;
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 0px;
    }

    .cards1 h5 {
        color:  #1A1A1A;
        font-family: 'Nunito';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
    }

    .cards1 p {
        color: #545454;
        font-family: 'Nunito';
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 8px;
        width: 65%;
    }

    .cards1 h1 {
        color: #1A1A1A;
        font-family: 'Nunito';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        margin-top: 8px;
    }

    .you h4 {
        color: #1A1A1A;
        font-family: "Open Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .cards1 {
        display: flex;
        margin-left: 20px;
        gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 20px;
    }

    .cards {
        display: none;
    }

    .card_img {
        width: 100%;
    }

    .mobileHide {
        display: none;
    }

    .colors {
        display: flex;
        gap: 8px;
    }

    .image1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 16px;
        position: relative;
    }

    .card1 {
        width: 185px;
        height: 185px;
        position: relative;
        display: inline-block;
    }

    .card1 img {
        width: 185px;
        height: 185px;

    }

    .card1 .img_top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;

    }

    .card1:hover .img_top {
        display: inline;
        width: 185px;
        height: 185px;
    }

    .loveact {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        z-index: 100;
    }

    .carthet {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        padding: 20px 10px;
    }

    .love {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: flex-end;
        padding: 20px 5px;
    }

    .over {
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
    }

    .over1 {
        position: absolute;
        bottom: 0;
        left: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .dress_card2 img {
        cursor: pointer;
        transition: border 0.3s ease-in-out;
        gap: 8px;
    }
}
