.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 56px 0px 40px 0px;
}

.form0 {
    display: flex;
    max-width: 80vw;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.form h1 {
    color: #1A1A1A;
    font-family: "Open Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 56px;
}

.form1 {
    display: flex;
    /* width: 100%; */
    flex-direction: column;
}

.saved {
    display: flex;
    gap: 10px;
}

.delivery_btn {
    display: flex;
    gap: 16px;
}

.deliverybtn h2 {
    color: #1A1A1A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.delivery_btn button {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid  #10413F;
    background-color:  white;
    color:  #10413F;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 32px;
}

.delivery_btn1 {
    display: flex;
    gap: 16px;
}


.pale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #10413F;
    background-color: white;
    color: #10413F;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}

.name {
    display: flex;
    flex-direction: column;
}

.name p, .paymentbtn h6 {
    margin-bottom: 16px;
    color: #1A1A1A;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.names {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 24px;
    /* flex-direction: column; */
}

.p {
    display: flex;
    color:  #1A1A1A;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.names .hold {
    width: 646px;
    height: 256;
}

.names input {
    width: 313px;
    height: 46px;
    border: 1px solid #545454;
    border-radius: 4px;
    padding: 12px;
    background-color: white;
}

.saved input {
    width: 20px;
    height: 20px;
}


.paymentbtn h4 {
    color:  #1A1A1A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.saved input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1.5px solid rgba(16, 65, 63, 1);
    border-radius: 5px;
    background-color: white;
}

.saved input[type="checkbox"]::before {
    content: '';
    width: 19px;
    height: 17px;
    clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
    transform: scale(0);
    display: flex;

}

.saved input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: white;

}

.saved input[type="checkbox"]:checked {
    transform: scale(1);
    background-color: rgba(16, 65, 63, 1);
}

.saved p {
    display: flex;
    
}

.card_type {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.buynow {
    display: flex;
    width: 614px;
    height: 60px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid  #10413F;
    background-color:  #0C312F;
    color:  #FEFEFE;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 18px;
}

.buynow:focus {
    background-color: #0C312F;
}

.saved {
    display: flex;
    margin-bottom: 32px;
}

hr {
    display: flex;
    margin-bottom: 32px;
}

input::placeholder {
    color: #545454;
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button:focus {
    background-color:  #E7ECEC;
}