.side{
    display: flex;
    width: 204px;
    height: 800px;
    z-index: 100;
    background-color: white;
}

.sides {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:flex-start;
    align-items: center;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;

}

.category {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.lists {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Nunito Sans';
    line-height: 21.82px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.lists li {
    color: rgba(16, 65, 63, 1);    
    display: flex;
    list-style: none;
    font-family: 'Nunito';
    line-height: 21.82px;
    font-size: 16px;
    font-weight: 400;

}

.lists li:hover {
    display: flex;
    font-weight: 700;
    border-bottom: none;
    font-size: 16px;
    line-height: 21.82px;
    font-family: 'Nunito';
    color: rgba(16, 65, 63, 1);
}

.lists b {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-align: left;
    color: rgba(26, 26, 26, 1);
}

.style {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.stylee{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Nunito Sans';
    line-height: 21.82px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px; 
}

.stylee li {
    color: rgba(16, 65, 63, 1);
    display: flex;
    list-style: none;
    font-family: 'Nunito';
    line-height: 21.82px;
    font-size: 16px;
    font-weight: 400;
    gap: 10px;
   
}

.stylee li:hover {
    display: flex;
    font-weight: normal;
    border-bottom: none;
    font-size: 16px;
    line-height: 21.82px;
    font-family: 'Nunito';
    color: rgba(16, 65, 63, 1);
}

.stylee b {
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    text-align: left;
    color: rgba(26, 26, 26, 1);
}

.stylee input {
    width: 20px;
    height: 20px;
}


.stylee input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1.5px solid rgba(16, 65, 63, 1);
    border-radius: 5px;
    background-color: white;
}

.stylee input[type="checkbox"]::before {
    content:'';
    width: 19px;
    height: 17px;
    clip-path: polygon(17% 54%, 28% 43%, 38% 54%, 70% 22%, 81% 33%, 38% 75%, 17% 54%);
    transform: scale(0);
    display: flex;

}

.stylee input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: white;
    
}

.stylee input[type="checkbox"]:checked {
    transform: scale(1);
    background-color: rgba(16, 65, 63, 1);
}



.color {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
}

.color h4 {
    display: flex;
    color: rgba(26, 26, 26, 1);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.82px;
    
}


.column {
    display: flex;
    margin-top: 16px;
}

