.cate {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  transition: filter 0.3s ease;
}

.homepage {
  display: flex;
  justify-content: left;
  gap: 10px;
  width: 100%;
}

.dress_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 32px;
}

.dress_content ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sortByContainer {
  display: flex;
  gap: 24px;
  cursor: pointer;
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  padding: 10px;
}

.homepage {
  display: flex;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}