.yours {
    display: flex;
    flex-direction: column;
    background-color: rgba(241, 241, 241, 1);
    width: 646px;
    /* height: 619px; */
    /* width: 100%; */
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    padding: 40px 16px 32px 16px;
}



.cart_summar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
}

.cart_summar p {
    color:  #1A1A1A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #1A1A1A;
    padding: 8px;
}

.cart_total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 0px 32px;
}

.cart_total ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.cart_total li {
    color: #1A1A1A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart_total li:hover {
    color: #1A1A1A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

hr {
    border: 0.5px solid #B5B5B5;
    width: 100%;
    display: flex;
    margin-top: 16px;
}

.delivery {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 32px;
}

.delivery p {
    color:  #1A1A1A;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 32px 0px;
}